<!DOCTYPE html>
<html>
<head>
    <title>Hello Bubble {!Lingkaran1}</title>
</head>
<body>
<!--{!Check}-->
    <h1>Welcome to site {!Pass}</h1>
    <p>Today will be preparation</p>

    <!--{!Bts}-->

        {!set_part('PageRightPanel')}

        Wish List 1

        <!--{!Wishlist1}-->
            <p>Coba-coba</p>
            <p>{!LingkaranList1}</p>
            <!--{!Anak}-->
                <div>{!Umur}</div>
                    <!--{!Anak}-->
                    <div>{!Umur}</div>
                    <!--{/Anak}-->
                <div>{!Umur}</div>
            <!--{/Anak}-->
            <p>Sekilan</p>
        <!--{/Wishlist1}-->

        <!--{!Wishlist2}-->
            <p>Aku Testing dulu Whistlist 2</p>
        <!--{/Wishlist2}-->

        <!--{!Wishlist3}-->
            <p>Whistlist 3</p>
        <!--{/Wishlist3}-->

        <div>Keren aja</div>

    <!--{/Bts}-->

    band1: {!navilera1}
    band2: {!navilera2}
    band3: {!navilera3}
    band4: {!navilera4}

    {{view.html}}

    {{sidebar.html}}

    <p class="footer">Didit Velliz 2017</p>
<!--{/Check}-->
</body>
</html>