{!css(<link href="template/bootstrap.css" rel="stylesheet" type="text/css" />)}

<div>
    Hello perkenalkan saya: {!Author}<br>
    saya: {!Author}<br>
    Hello saya: {!Author}<br>
    Hello perkenalkan: {!Author}<br>
    hehehe: {!Author}<br>
    perkenalkan {!Author}<br>

    <h5>Member</h5>
    <!--{!Member}-->
        {!NamaMember}
        <br/>
        {!Alamat}
        <br/>
        <!--{!Hobi}-->
            Daftar Hobi: {!List}
        <!--{/Hobi}-->
    <!--{/Member}-->
</div>

{sidebar.html}

NAMA MEMBER LUAR DI UPDATE: {!NamaMember}
<br>

{!js(<script src="template/jquery.min.js" type="text/javascript"></script>)}